/* Flex 1 - ROW EM LINHA*/
.flex-1 {
    background-color: aliceblue;
    display: flex;
}
/* FLEX - 2 COLUM EM COLUNA*/
.flex-coluna {
    background-color: aliceblue;
    padding: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.wrap{
    background-color: aliceblue;
    padding: 20px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}
.wrap > img {
    width: 200px;
    margin: 10px;
}
.centralizado-x {
    background-color: aliceblue;
    padding: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.space-around {
    background-color: aliceblue;
    padding: 20px;
    margin-top: 20px;
    display: flex;
    /* Alinhando os itens com epaçamento*/
    justify-content: space-around;
}
.space-between {
    background-color: aliceblue;
    margin-top: 20px;
    display: flex;
    /* Alinhando os itens com epaçamento*/
    justify-content: space-between;
}
.flex-end {
    background-color: aliceblue;
    margin-top: 20px;
    display: flex;
    /* Alinhando os itens com epaçamento*/
    justify-content: flex-end;
}
.align-items{
    background-color: aliceblue;
    margin-top: 20px;
    display: flex;
    height: 300px;
    /* Alinhando os itens com epaçamento*/
    justify-content: center;
    align-items:center;
}
